.nav{
background-color: #ffffff;
    color: black;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid #E3E3E1;
}
.nav__details{
    padding: 1.5rem 2rem;
    color: #1e2d2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}

.nav__details--lists{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 25rem;
}
.list{
    margin-left: 25px;
}

.cart{
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    .nav{
        display: none;
    }
}